.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Rubik", sans-serif;
  color: #353531;
  background: linear-gradient(135deg,
  #FF9505 0%,
  #FF9505 50%,
  #EC4E20 50%,
  #EC4E20 100%
  );
}