.Jokelist {
    display: flex;
    width: 80%;
    height: 80%;
}

.Jokelist-sidebar {
    background-color: #016FB9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
    z-index: 2;
}

.Jokelist-title {
    font-size: 4rem;
    margin: 2rem;
    color: white;
    font-weight: 300;
    letter-spacing: 0.6rem;
}

.Jokelist-title span {
    font-weight: 700;
    letter-spacing: 0;
}

.Jokelist-sidebar img {
    width: 50%;
    -webkit-border-radius: 45%;
    -moz-border-radius: 45%;
    border-radius: 45%;
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.Jokelist-jokes {
    height: 90%;
    background-color: white;
    align-self: center;
    width: 70%;
    overflow: auto;
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
}

.Jokelist-spinner {
    color: white;
    text-align: center;
}

.Jokelist-new {
    font-size: 1.5rem;
    width: 50%;
    border-radius: 2rem;
    margin: 2rem;
    padding: 1rem 2rem;
    color: white;
    font-weight: 700;
    border: none;
    outline: none;
    word-spacing: 1.4rem;
    -webkit-transition: 0.8s ease;
    -moz-transition: 0.8s ease;
    -ms-transition: 0.8s ease;
    -o-transition: 0.8s ease;
    transition: 0.8s cubic-bezier(0.2, 1, 0.2, 1);
    background: linear-gradient(135deg,
    #FF9505 0%,
    #FF9505 50%,
    #EC4E20 50%,
    #EC4E20 100%
    );
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.Jokelist-new:hover {
    -webkit-transform: translateY(-4px);
    -moz-transform: translateY(-4px);
    -ms-transform: translateY(-4px);
    -o-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}